@charset "utf-8";
/* 
body {
    background: plum;
} */

/* .card-title {
    background: black;
    color: white;
}
.card-link {
    background: yellowgreen;
    color: white;
} */

.fond_orange {
    background: orange;
}

.fond_bleu {
    background: blue;
}